.social-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.icon-set {
    padding: 10px 18px !important;
}
.pop-section {
    padding: 10px 28px;
}

.login-from:focus-visible {
    outline-color: #e74430;
}
.login-from input {
    border: unset !important;
    background: #f6f6f6 !important;
    padding: 2px 10px;
}

.error.danger {
    color: #ee4a40;
    font-size: 16px;
    font-weight: 700;
}

.login-active {
    border: 1px solid #e94534;
}