form.searchfrom {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F6F6F6;
   
    border-radius: 100px;
    min-width: 26%;
    border: unset;
   
    padding: 4px 6px;
}
input.seach-input.form-control {
    border: unset;
    background: transparent;
}
input.seach-input.form-control:focus-visible {
    outline: unset;
    border: unset;
    box-shadow: unset;
}
input.seach-input.form-control:focus {
    outline: unset;
    border: unset;
    box-shadow: unset;
}
input.seach-input.form-control::placeholder {
    font-size: 14px;
  }
.search-icon {
    background-image: radial-gradient(circle, #f55454, #f04a46, #eb4037, #e53627, #de2c14);
    border-radius: 100px;
    padding: 7px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .seach-input::placeholder {
    color: #000000 ;
    font-size:22px;
    font-weight: 500;


  }
  a.nav-item.nav-link {
    color: var(--text-green) !important;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}
.nav-logo{
        transform: translate(0px, -6px);
}
button.custome-btn {
    border-radius: 100px;
    border: unset;
    padding: 7px 32px;
    white-space: nowrap;
    font-size: 16px;
}
button.login {
    background: #fff !important;
    color: #000 !important;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    margin-left: 11px;
        overflow: hidden;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
button.login::before{
    content: '';
    position: absolute;
    border-radius: 100px;
    width: 100%;
    height: 40px;
    z-index: -1;
    bottom: -40px;
    left: 0;
    transition: .15s background-color,
        .2s bottom;
        transform: rotate(180deg);
        background-image: radial-gradient(circle, #f55454, #f04a46, #eb4037, #e53627, #de2c14) !important;
}
button.login:hover::before{
        bottom: 0;
}
button.login:hover{
        color: #fff !important;
}

button.sign{
    transition: transform 0.3s;
    background-image: radial-gradient(circle, #f55454, #f04a46, #eb4037, #e53627, #de2c14) !important;
    color: #ffffff !important;
    margin-left: 28px;
}
button.sign:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.seach-input:focus {
    color: unset;
    background-color:unset;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}
.search-from {
  visibility: hidden;
}
.from-set{
    display: block;
}
.section-afterlogin {
    display: flex;
    align-items: center;
    /* margin-bottom: 7px; */
}
.logindrop img {
    max-width: 42px;
}
a.dropdown-item {
    font-size: 13px;
}
a.dropdown-item img {
    margin-right: 11px;
    max-width: 11%;
}
a.dropdown-item {
    font-size: 13px;
    padding: 10px 12px;
    font-weight: 400;
}
.navbar-nav .dropdown-menu{
    position: absolute !important;
}
nav{
    box-shadow: darkgrey 0 0 6px -2px;
}
