.plans h3{
    color: #020000;
font-size: 22px;
font-weight: 500;
}
.plans {
    border-bottom: 1px solid #CACACA;
    padding: 10px 0px;
}
.save-detail p i {
    color: #9B10FF;
    margin-right: 10px;
}
.simple-text {
    color: #555;
    text-align: center;
    font-size: 18px;
}
.price-yearly{
    border-color: var(--bg-color) !important;
    color: var(--bg-color) !important;
}
.save-detail p {
    color: #777;
    font-size: 15px;
}
.simple-text p {
    color: #555;
    text-align: center;
    font-size: 15px;
    width: 60%;
    margin: 0 auto;
}
.main-plan-section {
    border-radius: 10px 10px 0px 0px;
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 381px;
}
.plan-header {
    border-radius: 10px 10px 0px 0px;
    background: #F4F4F4;
    text-align: center;
    padding: 30px 20px;
}
.plan-list-section ul {
    list-style: none;
    text-align: center;
    padding: 7px  0px 8px 0px;
}
.plan-btn{
    text-align: center;
}
.drop-section {
    padding-bottom: 10px;
}
.plan-headers {
    border-radius: 10px 10px 0px 0px;
    background: #FBA333;
    text-align: center;
    padding: 15px 30px;
}
.plan-header h4 {
    font-size: 17px;
}
.plan-header h2 {
    font-size: 18px;
}
.plan-headers h4 {
    font-size: 17px;
}
.plan-headers h2 {
    font-size: 18px;
}
button#dropdown-basic {
    border: 1px solid #fff;
    background: #ededed00;
    padding: 1px 11px;
}
.plan-list-section ul li>p {
    color: rgba(86, 86, 86, 0.80);
    font-size: 14px;
    margin-bottom: 12px;
}
.plan-list-section {
    padding-top: 3px;
}
.simple-text {
    padding: 10px 2px 11px 0px !important;
}
.width-set {
    width: calc(100% - 500px) !important;
    height: calc(100% - 50px);
}
