.teresa{
    box-shadow: 0px 0px 20px 0px rgba(0, 128, 55, 0.10);

}
.teresa-heading img{
    width: 75px;
}
.teresa-heading h2{
    font-size: 32px;
    font-weight: 700;
}
.teresa-img img{
    object-fit: cover;
    width: 450px;
}
.teresa-upper-data p span{
    font-weight: 700;
}
.teresa-btn{
    background: var(--grid-color);
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 500;
    padding: 9px 38px;
    transition: all 0.3s ease;
}
.teresa-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.teresa-lower-heading{
    font-weight: 700;
    font-size: 23px;
}
.teresa-lower p{
    color: #585867;
    font-size: 15px;
}
.tab-box .nav-link.active{
    background-color: unset;
    color: var(--dark-text);
}
.tab-box .nav-link{
  color: #A6A6A6;
  font-size: 21px;
  font-weight: 600;
}
@media screen and (min-width: 1200px) and (max-width:1400px) {
    .teresa-heading h2 {
        font-size: 30px;
    }
    
}
@media screen and (min-width: 992px) and (max-width:1199px) {
    .teresa-heading h2{
        font-size: 22px;
    }
    .teresa-heading img {
        width: 65px;
    }
    .teresa-upper-data p{
        width: 100% !important;
    }
    .teresa-lower-heading {
        font-size: 20px;
    }
    .teresa-lower p {
        font-size: 14px;
    }
    
}
@media screen and (min-width: 768px) and (max-width:991px) {
    .teresa-heading h2 {
        font-size: 30px;
    }
    
}
@media screen and (min-width: 576px) and (max-width:767px) {
    .teresa-heading h2{
        font-size: 22px;
    }
    .teresa-heading img {
        width: 65px;
    }
    .teresa-upper-data p{
        width: 100% !important;
    }
    .teresa-lower-heading {
        font-size: 20px;
    }
    .teresa-lower p {
        font-size: 14px;
    }
}
@media screen and (min-width: 320px) and (max-width:575px) {
    .teresa-heading h2{
        font-size: 22px;
    }
    .teresa-lower p {
        font-size: 14px;
    }

}