.footer-bg{
    background-color: #F0F1F4;
    margin-top: 158px;
}
.sub-details{
    color: var(--color-text);
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.logo-top{
    padding-top: 48px;
}
.footer-section ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
}
.last-footer-section p {
    text-align: center;
    font-size: 22px;
    color: var(--color-text);
    margin: 0;
}
section.copyright-section {
    border-top: 1px solid #DADADA;
    padding: 14px 0px;
}

.footer-section ul li p {
    margin: 0;
    width: max-content;
    color:var(--color-text);
    padding: 0px 35px 0px 0px;
    font-size: 20px;
    position: relative;
    letter-spacing: 2px;
}
.footer-section ul li p:before {
    position: absolute;
    width: 2px;
    height: 22px;
    background: #626381;
    content: '';
    right: 17px;
    /* bottom: 32px; */
    top: 4px;
}
.footer-section {
    padding-bottom: 25px;
}
.news-top-padding {
    padding-top: 56px;
}
form.Subscribe-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
button.custome-subcribe {
    background-image:var(--grid-color);
    border-radius: 100px;
    padding: 10px 31px;
    border: unset;
    color: #fff;
    font-size: 22px;
    margin-left: 25px;
    font-weight: 500;
    transition: transform 0.3s;
}
button.custome-subcribe:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
}
input.form-control.newletter {
    padding: 14px;
    border-radius: 100px;
    background: transparent;
    border: 1px solid #83839A;
}
.newletter::placeholder {
    color: #83839A ;
    font-size:20px;
    font-weight: 400;
}
.newletter:focus {
    color: unset;
    background-color:unset;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}
.footer-section.sm-screen {
    display: none;
}